.carousel {
    /* border: 1px solid red; */
    overflow: hidden;
    width: 100%;
    height: 640px;
}

.inner {
    /* border: 1px solid yellow; */
    white-space: nowrap;
    transition: transform 0.3s;
}

.carousel-item {
    /* border: 1px solid blue; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 100%;
    background-color: white;
    color: #fff;
}

.carousel-item > img {
    /* border: 1px solid rgb(8, 8, 8); */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 100%;
    background-color: white;
    color: #fff;
}

.Carousel__solo {
    width: 100%;
  }
  
  .Carousel__dots {
    color: black;
    background-color: red;
  }
  
  .Carousel__solo img {
    background-color: red;
    width: 100%;
  }


.indicators {
    /* background-color: black; */
    display: flex;
    justify-content: center;
}

.indicators > button {
    margin: 5px;
}

.indicators > button.active {
    background-color: green;
    color: #fff;
}